<div id="starter">

    <div class='center'>
        <h1>NakyVodiMe</h1>
        <label id='error'></label>
    </div>
    <div class="container login-container">
        <div class="row">
            <div class="col-md-6 login-form-1">
                <h3>Uloguj se</h3>

                <div class="form-group">
                    <input type="text" id='usernameSignIn' class="form-control" placeholder="Vase korisnicko ime *" value="">
                </div>
                <div class="form-group">
                    <input type="password" id='passwordSignIn' class="form-control" placeholder="Vasa lozinka *" value="">
                </div>
                <div class="form-group">
                    <input type="submit" id='btnSignIn' (click)="onSignIn()" class="btnSubmit" value="Uloguj se">
                </div>

            </div>
            <div class="col-md-6 login-form-2">
                <div class="login-logo">
                    <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="">
                </div>
                <h3>Registruj se</h3>
                <div class="form-group">
                    <input type="text" id='usernameSignUp' class="form-control" placeholder="Vase korisnicko ime *" value="">
                </div>
                <div class="form-group">
                    <input type="password" id='passwordSignUp' class="form-control" placeholder="Vasa lozinka *" value="">
                </div>
                <div class="form-group">
                    <input type="text" id='nameSignUp' class="form-control" placeholder="Vase ime *" value="">
                </div>
                <div class="form-group">
                    <input type="text" id='lastnameSignUp' class="form-control" placeholder="Vase prezime *" value="">
                </div>
                <div class="form-group">
                    <input type="submit" id='btnSignUp' (click)="onSignUp()" class="btnSubmit" value="Registruj se">
                </div>
            </div>
        </div>
    </div>
</div>