<div class='container-fluid'>
    <div class='flex-container mb-5' *ngIf="(peopleList.length!=0 && peopleList.length<11)">
        <button *ngFor="let person of peopleList" class='btn btn-info m-1' (click)='gotoProfile(person)'>
            <img [src]="returnImage(person.id)">
            {{returnUsername(person.username)}}
            </button>
    </div>
    <div class='flex-container mb-5' *ngIf="(peopleList.length!=0 && peopleList.length>11)">
        <button *ngFor="let person of reducedPeopleList" class='btn btn-info m-1' (click)='gotoProfile(person)'>
            <img [src]="returnImage(person.id)">
            {{returnUsername(person.username)}}
            </button>
            <button *ngIf="otherPeople!=0" class='btn btn-light m-1' (click)='expandPeople()'>I jos <span>{{otherPeople}}</span> drugih</button>
    </div>
    <div class='container' *ngIf="peopleList.length==0">
        <label>Nema ljudi koji idu na ovaj doganjaj</label>
    </div>
</div>