<div *ngIf="peopleList.length!==0" class="flex-container">
    <app-person *ngFor="let person of peopleList" [person]="person"></app-person>
</div>

<div *ngIf="(peopleList && peopleList.length===0)">
    <h2> There are no suggested friends for you. </h2>
</div>