<div id="coverDiv" class='container-fluid p-0'>
</div>
<div class='flex-container'>
    <img [src]='userImage'>
    <div class='row-div'>
        <label>Followers</label>
        <label class='bold'>{{followers}}</label>
    </div>
    <div class='row-div'>
        <label>Following</label>
        <label class='bold'>{{following}}</label>
    </div>
    <button id="followBtn" *ngIf="(user && user.Username!=loggedUser && isFriends)"  class='btn btn-light addBtn' (click)='onRemoveFriend()'>Unfollow</button>
    <button id="followBtn" *ngIf="(user && user.Username!=loggedUser && !isFriends)"  class='btn btn-info addBtn' (click)='onAddFriend()'>Follow</button>
</div>