#coverDiv{
    background-size: cover;
    text-align: center;
    height: 40vh;
}

.flex-container{
    display: flex;
    margin-left:10%;
}

.row-div{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 5%;
    margin-left: 25%;
}

.flex-container img{
    width: 18%;
    height: auto;
    margin-top: -6%;
    margin-left: -4%;
}

.flex-container label{
    margin-left: 14%;
}

.bold{
    font-weight: 500;
}

.addBtn{
    margin-left: 5%;
    margin-top:-5%;
    height:20%;
}