<div *ngIf="eventList.length!==0" class="flex-container">
    <app-event *ngFor="let event of eventList" [event]="event"></app-event>
</div>

<div *ngIf="(eventList && eventList.length===0)">
    <h2> There are no events</h2>
</div>