<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand mr-5" href="/">NakyVodiMe</a>
    <div class="row">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/events">Events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/people">People</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)='gotoProfile()'>Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href='/addEvent'>Add Event</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)='onSignOut()'>Sign Out</a>
            </li>
        </ul>
    </div>
</nav>