h1{
    text-align: center;
    margin-top:3%;
    margin-bottom: 3%;
}

.main{
    display: flex;
    margin-bottom: 2%;
}

.left{
    flex-grow: 0.5;
    max-width: 450px;
    margin-right: 2%;
    margin-left: 1%;
    flex-shrink: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.right{
    flex-grow: 0.6;
    flex-shrink: 1;
    display: flex;
}

.left img{
    width:80%;
    height: auto;
    margin: auto;
    margin-top:2%;
    margin-bottom: 2%;
}

.right-left{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 250px;
    display: flex;
    flex-direction: column;
}

.right-right{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 250px;
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    margin-right: 2%;
}

label{
    margin-top:2%;
    margin-bottom: 1%;
    color:rgb(77, 77, 77);
    opacity: 0.8;
    font-weight: bold;
    font-size: 14px;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
}

.is-comming-div{
    display: flex;
    flex-direction: column;
    margin-top:4%;
}

.answer{
    display: flex;
}

.is-comming-div img{
    width:24px;
    height: auto;
}

label span{
    color:#25274d;
    font-size: 18px;
    font-weight: 700;
}

p{
    color:#15547e;
    text-align: center;
}

h3{
    margin-top:0;
}

.is-comming-div span{
    margin-top:3%;
    margin-left: 1%;
}

button{
    width:45%;
    text-align: center;
    padding:5px;
}

button img{
    width: 40px;
    height: auto;
    float: left;
    margin: auto;
    margin-left: 10%;
}

.max{
    margin-top: 4%;
    color:rgb(126, 13, 13);
    font-weight: 700;
    font-size: 16px;
    background-color: transparent;
}
