<div class='container'>
  <h1 *ngIf="event">{{event.title}}</h1>
  <div class="main">
    <div *ngIf="event" class="left">
      <img [src]="eventImage">
    </div>
    <div class="right">

      <div *ngIf="event" class="right-left">
        <label>Datum: <span>{{returnFormatedDate()}}</span></label>
        <label>Vreme: <span>{{event.time}} h</span></label>
        <label>Adresa: <span>{{event.address}}</span></label>
        <!-- <label>Mesto: <span>{{event.place}}</span></label> -->
        <label>Grad: <span>{{event.city}}</span></label>
        <label>Broj zainteresovanih ljudi: <span>{{numberOfPeopleComing}}</span></label>
      </div>

      <div *ngIf="event" class="right-right">
        <div *ngIf="isLoggedIn" class="is-comming-div">
          <h3>Da li ste zainteresovani za ovaj dogadjaj?</h3>
          <div>
            <button id="noBtn" class="btn m-2" (click)="unregisterCommingEvent()"><img src="../../../assets/x-mark-64.png">
              Ne </button>

            <button id="yesBtn" class="btn m-2" (click)="registerCommingEvent()"> <img src="../../../assets/check-mark-3-64 (1).png">
              Da </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='container'>
    <p *ngIf="event">{{event.description}}</p>
  </div>
  <div class='container' *ngIf="event">
    <h1>Korisnici koji idu na ovaj dogadjaj:</h1>
    <app-people-list [peopleList]="event.listOfPeopleComing"></app-people-list>
  </div>
</div>