<div class="card m-4" style="width: 18rem;">
    <img [src]="eventImage" class="card-img-top" alt="event-img">
    <div class="card-body">
        <h5 class="card-title">{{event.headline}}</h5>
        <label>Datum: <span class="span">{{returnFormatedDate()}}</span></label>
        <label>Adresa: <span class="span">{{returnFormatedAddress()}}</span></label>
        <p class="card-text">{{returnFormatedDescription()}}.</p>
        <button (click)="onEventClick()" class="btn btn-dark">Prikazi detalje</button>
    </div>
</div>